@import "tailwindcss";
@tailwind utilities;

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}
.bg-diagonal-split {
  background-image: linear-gradient(
    140deg,
    #1e1f1e 0%,
    #1e1f1e 40%,
    #171717 40%,
    #171717 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-navbar {
    width: 100px;
    height: 60px;
}

.nav-voices-font {
    font-family: "Helvetica Neue"
}

.box-shadow-bottom::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background: linear-gradient(to right, rgba(0,0,0,0.2), transparent);
  border-radius: 0 0 8px 8px;
}

@media (min-width: 1024px) {
  .bg-diagonal-split {
    background-image: linear-gradient(
      160deg,
      #1e1f1e 0%,
      #1e1f1e 50%,
      #171717 50%,
      #171717 100%
    );
  }

  .logo-navbar {
        width: 150px;
        height: auto;
    }
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #171717;
}
